@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");

:root {
  --color-primary: #0288d1;
  --color-primary-transparent-1: #0288d1bb;
  --color-primary-transparent-2: #0288d177;
  --color-background: #282c34;
  --color-background-dark: #21252c;
  --color-background-darker: #181a1d;
  --color-regular: #fefefe;
  --color-muted: #767676;
  --color-danger: #e17a6c;
  --color-overlay: #00000044;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;

  font-family: "Nunito", sans-serif;
}

body {
  overflow: hidden;
}

.hide-cursor {
  cursor: none !important;
}

.with-transition {
  transition-duration: 0.2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
