@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

:root {
  --color-primary: #0288D1;
  --color-primary-transparent-1: #0288D1BB;
  --color-primary-transparent-2: #0288D177;
  --color-background: #282C34;
  --color-background-dark: #21252C;
  --color-regular: #FEFEFE;
  --color-muted: #767676;
  --color-danger: #E17A6C;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;

  font-family: 'Nunito', sans-serif;
}

.hide-cursor {
  cursor: none !important;
}

.with-transition {
  transition-duration: .2s;
}
